body {
  margin: 0;
  padding: 0;
}

.first-nav-block {
  width: 70%;
  display: flex;
  align-items: center;
  /* border: 1px solid yellow; */
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  width: 100%;
  height: 62px;
  background-color: rgba(255, 255, 255, 0.5);
}

.navigation {
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  width: 90%;
  height: 40px;
  justify-content: space-between;
  /* border: 1px solid green; */
  align-items: center;
}

/* .picture-list {

} */

ol {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  /* border: 1px solid blue; */
}

li {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 15px;
  text-decoration: none;
  list-style: none;
  color: #a3b3bb;
  padding-bottom: 3px;
  /* border-bottom: 1px solid purple; */
}

li:nth-child(2) {
  border-bottom: 2px solid #36aeea;
}

span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #36aeea;
}

.call-us-btn {
  padding: 5px 30px;
  border: 2px solid #36aeea;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.container:nth-child(1) {
  background-image: url(pictures/background-climber.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header-body {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.header-body > div {
  border: 2px solid white;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* height: 50px; */
}

.header-body > div > p:first-child {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: white;
  letter-spacing: 1px;
  line-height: 0.7;
  margin: 15px 30px;
}

.header-body > div > p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  margin: 10px 30px;
  color: #d4d7da;
}

b {
  font-family: "Euphoria Script", cursive;
  font-size: 45px;
  color: #36aeea;
  letter-spacing: 2px;
}

.order-btn {
  margin: 10px 30px;
  width: fit-content;
  padding: 15px 40px;
  background-color: #36aeea;
  border: 1px solid #36aeea;
  border-radius: 5px;
}

.order-btn > p {
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 0;
}

/* SECTION 2  */ /* SECTION 2  */ /* SECTION 2  */

.container:nth-child(2) {
  background-image: url(pictures/background-blog.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.blog {
  display: flex;
  width: 50%;
  height: 100%;
  /* border: 1px solid purple; */
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

.blog-content > img {
  padding: 0;
  margin: 0 0 20px 0;
}

.blog-content > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #949494;
  font-size: 15px;
  line-height: 25px;
}

.blog-content > div {
  margin: 25px 0 0 0;
  padding: 10px 25px;
  border: 1px solid #36aeea;
  border-radius: 5px;
  background-color: #36aeea;
  width: fit-content;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}

/* SECTION 3  */ /* SECTION 3  */ /* SECTION 3  */

.container:nth-child(3) {
  background-color: white;
  justify-content: center;
  align-items: center;
  /* border: 1px dashed green; */
  height: 1200px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.journal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
  /* border: 1px solid purple; */
}

.journal-header > img {
  width: 70%;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #16b5ef;
  font-size: 11px;
  margin: 0 0 25px 0;
}

.journal-body {
  display: flex;
  width: 90%;
  /* border: 1px solid palegreen; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.love {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 379px;
  height: 379px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-shrink: 0;
}

.love > p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}

.love > p:nth-child(3) {
  color: #777777;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 19px;
}

.love > p:nth-child(4) {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  margin: 30px 0 0 0;
}

.responsive {
  display: block;
  width: 100%;
  height: auto;
}

.mountains-love {
  position: relative;
  width: 379px;
}

.mountains-love > img {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.tree:hover .responsive {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(75%) blur(1px);
}

.tree {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon {
  position: absolute;
  opacity: 0;
}

.tree:hover .icon {
  opacity: 1;
  transition: 1s ease;
  cursor: pointer;
}

/* SECTION 4  */ /* SECTION 4  */ /* SECTION 4  */

.container:nth-child(4) {
  background-color: #f6f4f4;
  background-image: url(pictures/background-snow-mountains.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px dashed green; */
  height: 100vh;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  /* border: 1px solid red; */
  height: 100%;
  /* margin-left: 10%; */
}

.offer > img {
  margin-bottom: 25px;
}

.offer > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #949494;
  font-size: 14px;
}

.offer-form {
  display: flex;
}

.offer-form > input[type="text"] {
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #848484;
  width: 275px;
  height: 35px;
  margin: 0;
}

.offer-form > input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
  outline: 0;
  outline-offset: 0;
}

.offer-form > input[type="text"]:focus {
  outline: 0;
  outline-offset: 0;
}

.offer-form > input:first-child {
  border-width: 0 1px 0 0;
  border-radius: 5px 0 0 5px;
  border-image: url(pictures/vertical-line.png) 1 stretch;
}

.offer-form > input:nth-child(2) {
  border-width: 0;
  /* border-top: 1px solid white;
  border-left: none;
  border-bottom: 1px solid white;
  border-right: 1px solid white; */
}

.offer-form > input[type="button"] {
  border: 1px solid #36aeea;
  background-color: #36aeea;
  border-radius: 0 5px 5px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: white;
  width: 150px;
}

.offer-bottom {
  display: flex;
  align-items: center;
}

.offer-bottom > img {
  width: 14px;
  height: 16px;
  margin-right: 10px;
}

.offer-bottom > p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #36aeea;
}

/* SECTION 5  */ /* SECTION 5  */ /* SECTION 5  */

/* .container:nth-child(5) {
  border: 1px dashed red;
} */

.scheme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scheme-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.scheme-header > img {
  width: 70%;
}

.scheme-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.scheme-content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 58px;
}

.scheme-content-block > p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #949494;
  margin-top: 20px;
}

strong {
  color: black;
  font-size: 14px;
}

.scheme-body-content {
  display: flex;
  flex-direction: row;
}
